/*global specification*/
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,.text-title {font-family: "Roboto Slab", serif;}
body {
    overflow-x: hidden;
}
@font-face {
    font-family: "Pagal";
    src: url(/fonts/pagal.TTF);
}
#navbar-name {font-family: "Pagal", serif;}
/*-------------------------*/

/*bootstrap color adjusting*/
$primary: #1E90FF !important;
$primary-hover: #006BFF !important;
$dark: #1D1D1D !important;
$dark-transparent : rgba(29,29,29,0.75) !important;
$light: #FFFFFF !important;
$secondary: #DCDCDC !important;
$danger: #FF0000 !important;

@mixin color-primary {color: $primary;}
@mixin background-primary {background-color: $primary;}
@mixin border-primary{border-color: $primary;}
@mixin color-primary-hover {color: $primary-hover;}
@mixin background-primary-hover {background-color: $primary-hover;}
@mixin border-primary-hover{border-color: $primary-hover;}
@mixin color-dark {color: $dark;}
@mixin background-dark {background-color: $dark;}
@mixin background-dark-transparent {background-color: $dark-transparent;}
@mixin border-dark{border-color: $dark;}
@mixin color-light {color: $light;}
@mixin background-light {background-color: $light;}
@mixin border-light{border-color: $light;}
@mixin color-secondary {color: $secondary;}
@mixin background-secondary {background-color: $secondary;}
@mixin border-secondary{border-color: $secondary;}
@mixin color-danger {color: $danger;}
@mixin background-danger {background-color: $danger;}
@mixin border-danger {border-color: $danger;}

.btn-primary {
    @include border-primary();
}
.btn-primary:hover {
    @include background-primary-hover();
    @include border-primary-hover();
}
.bg-primary, .btn-primary {@include background-primary();}
.border-primary {@include border-primary();}
.text-primary, a {@include color-primary();}
.bg-dark {@include background-dark();}
.bg-dark-transparent {@include background-dark-transparent();}
.text-dark, .btn-primary {@include color-dark();}
.btn-dark {@include background-dark();}
.border-dark {@include border-dark();}
.bg-light {@include background-light();}
.text-light, button > i, .nav-item:hover a {@include color-light();}
.border-light {@include border-light();}
.border-danger {@include border-danger();}
.text-danger {@include color-danger();}
.bg-secondary {@include background-secondary();}
.text-secondary {@include color-secondary();}
.border-secondary {@include border-secondary();}
a:hover {@include color-primary-hover();}
.nav-item a {
    transition-duration: 0.25s;
    border-radius: 5px;
}
a.navbar-brand {
    transition-duration: 0.25s;
    border-radius: 5px;
}
a.navbar-brand:hover {
    @include background-primary-hover();
    @include color-light();
    padding-left: 15px;
    padding-right: 15px;
}
/*-------------------------*/

/*scroll*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {@include background-secondary();}
::-webkit-scrollbar-thumb {@include background-primary();}
::-webkit-scrollbar-thumb:hover {@include background-primary-hover();}
/*-------------------------*/

/*specific*/
.help {
    @include color-primary();
}
.help:hover {
    @include color-primary-hover();
}
.row {margin: auto;}
.heir-title {
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
}
.heir-title:hover {@include background-primary-hover();}
.heir-container > div {display: none;}
.heir-title-icon {
    position: absolute;
    right: 25px;
    top: 11px;
    transition-duration: 0.25s;
}
.rotate-90-deg {
    transform: rotate(90deg);
}
.text-title-big {
    border-left: 5px solid $primary;
    transition-duration: 0.25s;
}
.section-container:hover .text-title-big {
    border-left: 10px solid $primary-hover;
}
/*-------------------------*/